    body {
        font-family: Poiret One!important;
        padding: 30px;
    }

    ::selection {
        color: dodgerblue;
    }

    div.panel {
        width: 80%;
        display: inline-block;
        background-color: lightslategrey;
        height: 100px!important;
        text-align: left;
    }

    div.panel > div.inner {
        width: 23%;
        border: thin solid #555;
        height: 100%;
        display: inline-block;
        margin: 0px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    body {
        overflow: hidden;
    }