    body {
        font-family: Poiret One!important;
        padding: 30px;
    }

    ::selection {
        color: dodgerblue;
    }

    .panel {
        width: 75%;
        display: inline-block;
        background-color: lightslategrey;
        height: 100px!important;
        text-align: center;
    }

    .panel > .inner {
        width: 23%;
        border: 4px solid dodgerblue;
        height: 100%;
        display: block;
        margin: 0px;
        background-color: #555;
        cursor: pointer;
    }

    .panel > .inner > a {
        display: block;
        height: 100%;
        width: 100%;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
   ::-webkit-scrollbar {
       display: none;
   }

    body {
        overflow: scroll;
    }