body {
    font-family: Poiret One!important;
    padding: 30px;
}

::selection {
    color: dodgerblue;
}

div.panel {
    width: 70%;
    display: inline-block;
    background-color: lightslategrey;
}